.header {
  display: flex;
  padding: 1rem 0;
  background: linear-gradient(to right, #ffffff, rgba(17, 104, 229, 1));
  border-radius: 12px; 
  overflow: hidden;

  .header-container {
    display: flex;
    align-items: center;
    max-width: 500px;
    width: 100%;
    color: rgba(17, 104, 229);
  }

  .header-logo {
    height: 40px;
    width: auto;
    margin-right: 1rem;
  }

  .header-title {
    font-size: 1.5rem;
    font-weight: 600;
    margin: 0;
    line-height: 1.2;
    position: relative;
    top: 2px;
  }
}
