.employee-info-container {
  width: 350px;
  margin: 30px auto 0 auto;
  text-align: center;

  .error-box,
  .not-found-box {
    margin-bottom: 1rem;
  }

  .employee-card {
    text-align: center;

    .employee-image {
      width: 120px;
      height: 120px;
      border-radius: 50%;
      object-fit: cover;
      margin-bottom: 1rem;
      display: block;
      margin-left: auto;
      margin-right: auto;
    }

    .employee-back-button {
      margin-top: 1rem;
    }

    .MuiTypography-body2 {
      display: inline-flex !important;
      align-items: center;
      margin-bottom: 0.3rem;

      &::before {
        font-weight: 600;
        content: attr(data-label) ": ";
        margin-right: 0.25rem;
      }
    }

    .status-line {
      display: flex;
      align-items: center;
      gap: 0.25rem;
    }
  }
}
